@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family:Poppins, sans-serif;
}
body{
  background-color: linear-gradient(to right top, #a4fff7, #affff5, #bafff3, #c4fff2, #cdfff1, #d1fff7, #d7fffc, #ddffff, #e7feff, #f2fdff, #fbfdff, #ffffff);
}
  .title {
font-weight: bold;
}

@keyframes slideRightLoop {
  0% {
    transform: translateX(0);
    opacity: 0.4;
  }
  50% {
    transform: translateX(10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.4;
  }
}

.loop-arrow {
  display: inline-block;
  font-size: 30px;
  justify-content: center;
  animation: slideRightLoop 3s ease-in-out infinite;
}
